<h5><%= player.name %></h5>
<p><strong>Name:</strong> <%= player.name %></p>
<p><strong>Email:</strong> <%= player.email %></p>
<a href="/players" button class="btn btn-primary btn-lg" id="submitButton" type="submit" > Back</button></a>
<a href="/players/edit/<%=player.player_id%>" button class="btn btn-primary btn-lg" id="submitButton" type="submit" > Edit</button></a>
<a href="/players/delete/<%=player.player_id%>" button class="btn btn-primary btn-lg" id="submitButton" type="submit" > Delete</button></a>
